rpc:
  user: "localhost:10001"
  social: "localhost:10004"

mysql:
  username: "root"
  password: "my password"
  host: "my host"
  port: 3306
  dbname: "my dbname"

redis:
  host: "127.0.0.1"
  password: 
  port: 6379


log:
  env: dev
  path: ./log/social.log
  encoding: console
  max_size: 10
  max_age: 30
  max_backups: 30